# Core
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/smoove?schema=public"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-32+-char-secret"
SESSION_SECRET="replace-with-32+-char-secret"

# Twilio Verify (SMS OTP)
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_VERIFY_SERVICE_SID=""

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

# Mapbox
MAPBOX_TOKEN=""
NEXT_PUBLIC_MAPBOX_TOKEN=""

# Uploadthing
UPLOADTHING_TOKEN=""
